<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Goの練習</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body class="go-body">
    <h1 class="go-practice">これはGoの練習用のサイトです</h1>
    <p>go全然分からないよー!</p>
    {{if .SessionData}}
    <p>Session Data:</p>
    <ul>
        {{range $key, $value := .SessionData}}
        <li>{{$key}}: {{$value}}</li>
        {{end}}
    </ul>
    {{else}}
    <p>No session data.</p>
    {{end}}
    <a href="/form">メッセージを投稿</a>
    <script src="/static/script.js"></script>
</body>
</html>
